@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;700&display=swap');

body {
    position: relative;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    font-family: 'Roboto', sans-serif;
}

body::before {
    content: "";
    position: fixed; /* pour éviter le défilement avec la page */
    top: 0;
    left: -100px; /* faire en sorte que l'image soit centrée */
    width: 100%;
    height: 100%;
    background-image: url('../images/bg2.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    z-index: -1; /* Placez le pseudo-élément derrière le contenu du body */
}

.index {
    position: absolute;
    left: 700px;
    top: 200px;
}

.out {
    position: absolute;
    left: 700px;
    top: 300px;
}


/* Tablette */
@media screen and (max-device-width: 1250px) {
    
}



/* Telephone */
@media screen and (max-device-width: 760px) {
    body::before {
        background-image: url('../images/bg.jpg'); /* Nouvelle image de fond pour les écrans de téléphone */
        transform-origin: center;
        transform: scale(0.5); 
        width: 200%; 
        height: 200%; 
        left: -50%;
        top: -50%; 
        margin-top: 0px;
    }
}
