@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;700&display=swap');

/* BODY */
body {
    position: relative;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    font-family: 'Roboto', sans-serif;
}

body::before {
    content: "";
    position: fixed; /* pour éviter le défilement avec la page */
    top: 0;
    left: 0px; /* faire en sorte que l'image soit centrée */
    width: 100%;
    height: 100%;
    background-image: url('../images/bg4.jpg');
    background-repeat: no-repeat;
    background-size: cover;
     z-index: -1; /* Placez le pseudo-élément derrière le contenu du body */
} 

/* CONNEXION */
.index {
    position: absolute;
    left: 37%;
    top: 32%;
    box-shadow: 10px 5px 5px;
    width: 25%;
}

/* DECONNEXION */
.out {
    position: absolute;
    left: 37%;
    top: 32%;
    box-shadow: 10px 5px 5px;
    width: 25%;
}

/* AFFICHER LES COMMENTAIRES */
#scroll {
    max-height: 600px;  /* Définissez la hauteur maximale souhaitée */
    overflow-y: scroll;   /* Ajoutez une barre de défilement vertical si nécessaire */
    border: 1px solid #ccc;  /* Facultatif : Ajoutez une bordure pour mieux visualiser la div */
    padding: 10px;   /* Facultatif : Ajoutez un peu de rembourrage pour un meilleur aspect */
    margin-bottom: 8px;
    margin-top: 30px;
    display: flex;
    align-content: center;
}

/* PAGE POST.PHP */
.container_post {
    max-height:80%;
}

.col_post {
    max-height:80%;
}

/* PAGE PROFIL.PHP */
.profil {
    background-color: #C3C3C3;
}
.image-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 10px;
    
}

.image-grid img {
    width: 100%; /* La largeur sera de 100% de la largeur de la cellule */
    height: 90%;
    border-radius: 5px;
    object-fit: cover;
}

/* PAGE FEED.PHP */
.feed {
    background-color: #C3C3C3;
}

.feed_card{
    display: flex;
    justify-content: center;
}

.image_post_feed img{
    width: 100%; /* La largeur sera de 100% de la largeur de la cellule */
    height: 90%;
    border-radius: 5px;
    object-fit: cover;
}

/* NAVBAR */
.navbar {
    background-color: #B5B2B3;
    display: flex;
    justify-content:space-between;
    font-size: 20px;
}

/* CAPTION */
.caption{
    font-size: 40px;
}

.custom-image {
    height: auto; /* Ajustez la hauteur comme vous le souhaitez */
    width: 100%;  /* Ajuster la largeur comme vous le souhaitez */
    object-fit: cover; /* Ajuste la façon dont l'image est ajustée dans la boîte */
  }

/* Tablette */
@media screen and (max-device-width: 1250px) {
    
}

/* Telephone */
@media screen and (max-device-width: 760px) {
    body::before {
        background-image: url('../images/bg4.jpg'); /* Nouvelle image de fond pour les écrans de téléphone */
        transform-origin: center;
        transform: scale(0.5); 
        width: 200%; 
        height: 200%; 
        left: -50%;
        top: -50%; 
    }

    .index {
        position: absolute;
        left: 23%;
        top: 32%;
        box-shadow: 10px 5px 5px;
        width: 60%;
    }

    .out {
        position: absolute;
        left: 23%;
        top: 32%;
        box-shadow: 10px 5px 5px;
        width: 60%;
    }

    .profile_picture_navbar {
        display: none;
    }

    .entete {
        display: none;
    }


    button.btn_comm {
        width: 100%;
        max-width: 100%;
        }

    .container {
        flex-direction: column; 
    }

    .navbar {
        margin-top: 0; 
    }

    #scroll {
        max-height: 100px;  
        overflow-y: scroll; 
        border: 1px solid #ccc;  
        margin-bottom: 8px;
        display: flex;
        align-content: center;
    }

}
